.page-header {
  // margin-top: 16px;




  @media screen and (max-width:767px) {
    margin-bottom: 16px;
    margin-top: 16px;
    position: relative;
  }
}

.page-header .container {
  // position: relative;

  @media screen and (min-width:768px) {
    display: flex;
    align-items: center;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid var(--border-under-header);
      width: 100%;
    }
  }
}

.page-header__nav {
  display: flex;
  align-items: center;
}

.page-header__button {
  margin-left: 284px;
  padding: 0;
}

